{:min-bb-version "1.3.180"

 :paths ["src"]

 :tasks
 {:requires [[babashka.fs :as fs]
             [xtdb.bench.cloud.scripts.tasks :as tasks]]

  help {:doc "Show the available tasks and their docs"
        :task (tasks/help)}

  summarize-log {:doc "Print a summary of a benchmark log"
                 :task (tasks/summarize-log *command-line-args*)}

  default {:doc "Default task that shows help"
           :depends [help]}}}
