<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="xtdb" level="INFO" />
    <!-- Enable verbose Netty logging (including leak detector) and Arrow allocator diagnostics -->
    <logger name="io.netty" level="DEBUG" />
    <logger name="io.netty.util.ResourceLeakDetector" level="DEBUG" />
    <logger name="org.apache.arrow.memory" level="DEBUG" />
</configuration>
