name: Test Hello World

on:
  workflow_dispatch:
  push:
    branches:
      - test/github-actions

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Echo greeting
        run: echo "Hello world"
      - name: Echo greeting again
        run: echo "Hello world"
